# Ignorar configuraciones locales
.env

# Ignorar archivos y carpetas generadas automáticamente
main

# Ignorar dependencias de Go descargadas
/go/pkg/
/go/bin/

# Ignorar archivos de log
*.log

# Ignorar archivos de compilación y temporales
*.out
*.o

# Ignorar carpetas del sistema operativo
.DS_Store
Thumbs.db

# No ignorar estos archivos que deben versionarse
!.gitignore